<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>codepustest</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CodePushDeploymentKey</key>
	<string>XSmM6GlG5bc6LtcCWO5Vj3g6Wbo-g2l8R13K4</string>
	<key>CodePushPublicKey</key>
	 	<string>-----BEGIN PUBLIC KEY-----
		MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAshj88/KSpPfDmamdi1zlBaxFgQ9WZNlF597RArTk6ExaZzLNG1Ry/TYhZgmokWtKih0v3lZYb12UuHRG9ZztYWlPqOHDpSYUEKZjbQLW8rnwZaBMi2krXnJagdrQf4Lc7bQ92yQwCqrDGkW8Pquh3SOVMT4CRk8/cTHZ4uVMg8I+iyXpF8EqMb1Tz4J1JewHekHqpB0m2vk2rmc8NLGT0PP6ssEZUOu8hpAFk0ypkbll31LP5JOtXU4Bcj9aWMO2FZgeq+QhrNjDAcDAXUqXl0nInP0ih5IOk3JI0bOLzO8x+Bcb6jkSSJkak+T4CKkO1Qj8eFr4pjTmQI67loPciwIDAQAB
		-----END PUBLIC KEY-----</string>
</dict>
</plist>
